body {
  background-color: #efefef;
}
.container {
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80vw;
  height: 100%;

  overflow-y: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20vh;

  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-style: italic;

  margin-bottom: 10px;

  border-radius: 0 0 10px 10px;

  background-color: #ff3b3f;
}

/* About */
.contentAbout {
  width: 80vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  overflow-y: auto;
}

.contentAbout::-webkit-scrollbar {
  display: none;
}

.containerAbout-info {
  width: 80%;

  margin-top: 10px;

  text-align: center;
  line-height: 30px;
}

.containerAbout-info > h4 {
  margin: 0;
}

.containerAbout-info > p,
span {
  margin: 0;
  font-style: italic;
}

.containerAbout-img {
  width: 660px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  background-repeat: no-repeat;

  border-radius: 20px;

  overflow: hidden;
}
.containerAbout-img > img {
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
