body {
  background-color: #efefef;
}
.container {
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80vw;
  height: 100%;

  overflow-y: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20vh;

  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-style: italic;

  margin-bottom: 10px;

  background-color: #a9a9a9;
}
