body {
  background-color: #fdfffc;
}
.container {
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80vw;
  height: 100%;

  overflow-y: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20vh;

  font-size: 1.8rem;
  font-weight: 400;
  color: #fdfffc;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;

  margin-top: 15px;
  margin-bottom: 15px;

  border-radius: 18px;

  background-color: #011627;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Modal */
.containerModal {
  width: 40vw;
  height: 50vh;

  display: flex;

  border-radius: 18px;
  overflow: hidden;

  background-color: #011627;
}
.modalImg {
  width: 50%;
  height: 100%;

  object-fit: cover;
  background-repeat: no-repeat;
  /* opacity: 70%; */
}
.modalContent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}
.modalName {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  color: #ff9f1c;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;
}
.modalInfo {
  color: #fdfffc;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 300;
}
.modalPix {
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 300;
  color: #fdfffc;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;
  background-color: #e71d36;
  padding: 10px;
}
.modalVoltar {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  color: #ff9f1c;

  cursor: pointer;
}
.modalVoltar:hover {
  color: #fdfffc;
}

/* About */
.contentAbout {
  width: 80vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  overflow-y: auto;
}
.contentAbout::-webkit-scrollbar {
  display: none;
}
.containerAbout-info {
  width: 80%;

  margin-top: 10px;

  text-align: center;
  line-height: 30px;
}
.containerAbout-info > h4 {
  margin: 0;
}
.containerAbout-info > p,
span {
  margin: 0;
  font-style: italic;
}
.containerAbout-img {
  width: 660px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  background-repeat: no-repeat;

  border-radius: 20px;

  overflow: hidden;
}
.containerAbout-img > img {
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
